footer {
    background-color: #768a8b;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
/* .contact{
    display: flex;
    margin-top: 5px;
    margin-left: 800px;
    justify-content: space-around;
}
.contact h2{
    text-align: center;
    margin-top: 80px;
    font-size: 3em;
    font-family: cursive,Arial, Helvetica, sans-serif;
}

.contact p{
    margin-top: 30px;
    margin:0;
    font-size: 2em;
    font-family: cursive,Arial, Helvetica, sans-serif;
} */