.resturant h2{
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(29, 36, 36);
}

.resturant .container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-right: 8%;
}

/* .resturant .container .card {
    height: 100px;
    width: 45%;
    border: 2px #313435 solid;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}
.container .card h3{
    display:block;


}
.item .items{
    flex-wrap:wrap;
} */