body{
    
    background-size: cover;    /* Makes the image cover the entire screen */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
header  {
    text-align: center; 
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px;
    font-size: 40px;
    font-family: consolas;
    font-weight: 800;
    list-style-type: none; /* Removes bullet points */
    display: flex; /* Aligns items in a row */
    justify-content: center; /* Centers the items horizontally */
    
}


/*Navbar*/

.navbar ul {
    list-style-type: none; /* Removes bullet points */
    display: flex; /* Aligns items in a row */
    justify-content: center; /* Centers the items horizontally */
    padding: 0; /* Removes default padding */
    margin: 0;
} 



.navbar ul li {
    padding: 10px;
    margin: 0 25px; /* Adds space between each link */
    font-size: 20px;
}

.navbar ul li {
    color: #090118;
    text-decoration: none;
    font-weight: bold;
}

/*About Section*/


h1{
    text-align: center;
}
h1 p{
    text-align: center;
    
    text-decoration: solid;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-size-adjust: 2rem;
    max-width: 600px;           
    line-height: 1.6;           
    padding: 20px;
    margin:0;
}


/*Home*/

.home{
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.home p{
    text-align: center;
    
    
}
.stay{
    padding: 10px 10px;
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
} 
.stay h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #1f5cac;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}


/*Check-in Check-out*/
form {
    display: flex;
    justify-content: center;
    gap: 10px;  
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    flex-wrap: nowrap; /* Keep all items in a single line*/
    overflow-x: auto; /* Enable horizontal scroll if content overflows*/
    padding: 10px 0;
    margin-top: 20px;  
 } 

 form label {
    display: block;
    margin-top: 20px;
}

form input {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #111111;
    border-radius: 5px;
} 

.check-in{
    background-color: #f9f9f9;
    border: 1px solid  #1a5b79;
    border-radius: 8px;
    width: 80px;
    height: 90px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);

}
.check-out{
    background-color: #f9f9f9;
    border: 1px solid  #1a5b79;
    border-radius: 8px;
    width: 80px;
    height: 90px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.num-adults{
    background-color: #f9f9f9;
    border: 1px solid #1a5b79;
    border-radius: 8px;
    width: 80px;
    height: 90px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.num_children{
    background-color: #f9f9f9;
    border: 1px solid  #1a5b79;
    border-radius: 8px;
    width: 80px;
    height: 90px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
/* Set flex item for each field to create one row */
form > div {
    flex: 1 1 100px; 
} 

form button {
    display: flexbox;
    margin-top:20px;
    width: 80px;
    height: 70px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem; 
    background-color:  #1a5b79;
    border: 2px solid  #1a5b79;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(8, 1, 1, 0.1);
}
  



footer {
    background-color: #1a8a92;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer .contact{
    margin-right:30px;

}
footer p {
    margin: 0;
    font-size: 1rem;
}